


/* Tailwind CSS Classes */
.bar {
    width: 24px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Custom CSS Classes for Animation */
  #hamburger.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-4px, 4px);
  }
  
  #hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  #hamburger.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-4px, -4px);
  }
  
  
  #menu.opened {
    transform: scale(1);
    opacity: 1;
  }